<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('addpeople')}}" method="post">
        <input type="text" name="name" placeholder="ป้อนชื่อคนที่มาในวันนี้" required>
        <input type="submit" name="submit" id="" value="ส่งข้อมูล">
    </form>

    <p>{{name}}</p>
    {% if session.people %}
    <form action="{{url_for('addfood')}}" method="post">
        <input type="text" name="name" placeholder="ป้อนชื่ออาหารหรือเครื่องดื่ม" required>
        <input type="number" name="price" placeholder="ป้อนราคา" required><br>
        {% for i in session.people %}
        <input type="checkbox" name="people" value="{{i}}">
        <label for="people">{{i}}</label><br>
        {% endfor %}
        <input type="submit" name="submit" id="" value="ส่งข้อมูล">
    </form>
    {%endif%}

</body>
</html>